.guess-row {
  @include flex-between;
  padding: 1.5rem 0.5rem;
}

.guess-row_symbols {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.guess-row_controls {
  @include flex-center;
}
