@font-face {
  font-family: "Righteous";
  src: local("Righteous-Regular"),
    url("../fonts/Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sedgwick Ave Display";
  src: local("SedgwickAveDisplay-Regular"),
    url("../fonts//SedgwickAveDisplay-Regular.ttf") format("truetype");
}
