@import "./reset.scss";
@import "./_variables.css";
@import "./fonts";
@import "./mixins";

@import "../components/atoms/button";
@import "../components/atoms/symbol";
@import "../components/atoms/StatusSymbol";
@import "../components/moleculs/statusSymbolGroup";
@import "../components/moleculs/gameControls";
@import "../components/moleculs/symbolControls";
@import "../components/moleculs/symbolRow";
@import "../components/moleculs/endGameText";
@import "../components/moleculs/endGameSymbols";
@import "../pages/mainMenu";
@import "../pages/gameScreen";
@import "../pages/endGamePage";
body {
  height: 100vh;
  background-image: url("../assets/fortress.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
