.main-menu {
  @include flex-center;
  height: 100vh;
}

.main-menu_wrapper {
  @include flex-center;
  flex-direction: column;
  > * {
    margin: 0.5rem;
  }
}

.main-menu_title {
  text-align: center;
  font-size: 6rem;
  font-family: "Sedgwick Ave Display";
  color: var(--text-light);
  span {
    display: block;
  }
}
