.status-symbol {
  color: var(--text-dark);
  border-radius: 50%;
  font-size: 1rem;
  &-done {
    background-color: var(--cool);
  }
  &-cached {
    background-color: var(--warm);
  }
  &-close {
    background-color: var(--disabled);
  }
}
